asgiref
Django
django-filter
djangorestframework
numpy
pandas
python-dateutil
pytz
six
sqlparse
tzdata
tensorflow
numpy
transformers
bert-extractive-summarizer
spacy
googletrans
google-search-results
pandas
scikit-learn
requests
Pillow
django-cors-headers